<h1 class="title"><%= title "Edit #{resource_name.to_s.humanize}" %></h1>

<div class="container">
  <div class="card">
    <div class="card-content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email, class: 'label' %>
          <div class="control">
            <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input' %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, class: 'label' %>
          <div class="control">
            <%= f.password_field :password, autocomplete: 'new-password', class: 'input' %>
          </div>
          <p class="help">Leave blank if you don't want to change it</p>
          <% if @minimum_password_length %>
            <p class="help"><%= @minimum_password_length %> characters minimum</p>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: 'label' %>
          <div class="control">
            <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input' %>
          </div>
        </div>

        <div class="field">
          <%= f.label :current_password, class: 'label' %>
          <div class="control">
            <%= f.password_field :current_password, autocomplete: 'current-password', class: 'input' %>
          </div>
          <p class="help">We need your current password to confirm your changes</p>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: 'button is-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="subtitle">Cancel my account</h2>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
