<h1 class="title"><%= title 'Sign up' %></h1>

<div class="card">
  <div class="card-content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: 'label' %>
        <div class="control">
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, class: 'label' %>
        <div class="control">
          <%= f.password_field :password, autocomplete: 'new-password', class: 'input' %>
        </div>
        <% if @minimum_password_length %>
          <p class="help"><%= @minimum_password_length %> characters minimum</p>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: 'label' %>
        <div class="control">
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'input' %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit 'Sign up', class: 'button is-primary' %>
      </div>
    <% end %>
  </div>
  <footer class="card-footer">
    <%= render "devise/shared/links" %>
  </footer>
</div>
