<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" data-controller="sidebar">
    <%= link_to root_path, class: 'navbar-item' do %>
      <%= image_tag 'logo.png' %>
    <% end %>

    <div
        class="navbar-burger burger"
        data-action="click->sidebar#open"
        data-target="sidebar.trigger" >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>
    <%= render partial: 'shared/mobile_menu' %>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Home', root_path, class: 'navbar-item'%>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'button is-light', data: { turbo: false } %>
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path, class: 'button is-primary'%>
            <%= link_to 'Log in', new_user_session_path, class: 'button is-light'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
