<h1 class="title"><%= title 'Log in' %></h1>

<div class="card">
  <div class="card-content">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <div class="control">
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, class: 'label' %>
        <div class="control">
          <%= f.password_field :password, autocomplete: 'current-password', class: 'input' %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <div class="control">
            <%= f.label :remember_me, class: 'label' do %>
              <%= f.check_box :remember_me %>
              Remember me
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit 'Log in', class: 'button is-primary' %>
      </div>
    <% end %>
  </div>
  <footer class="card-footer">
    <%= render "devise/shared/links" %>
  </footer>
</div>
