<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'BaseRails' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <script src="https://kit.fontawesome.com/785eb6d6a4.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <%= render partial: 'shared/flash' %>

    <section class="section">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>
